# Chronelis
FRONTEND_BASE_URL=
ACCOUNT_BASE_PASSWORD=Chronelis123@
ALLOWED_INIT=true

# Port
SERVER_PORT=8080

# MySQL
DB_URL=
DB_USERNAME=
DB_PASSWORD=

# Mail
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=

# JWT
JWT_ACCESS_SIGNER_KEY=
JWT_REFRESH_SIGNER_KEY=
JWT_ACCESS_TOKEN_DURATION=
JWT_REFRESH_TOKEN_DURATION=

# AWS
AWS_ACCESS_KEY=
AWS_SECRET_KEY=
AWS_BUCKET_NAME=
AWS_REGION=

# File upload config
FILE_ALLOWED_TYPES=image/jpeg,image/png,image/jpg,audio/mpeg
FILE_MAX_SIZE=5242880
FILE_MIN_SIZE=1024

# Redis
REDIS_HOST=
REDIS_PORT=
REDIS_USERNAME=
REDIS_PASSWORD=
REDIS_SSL=true